<div class="grid grid-cols-2 grid-rows-3 gap-4 h-full" *ngIf="listState.state === listStateValue.SUCCESS">
    <div class=" rounded-lg p-4 row-start-1 flex flex-row flex-wrap justify-around">
        <div class="p-2 flex flex-col justify-around">
            <div class="">
                <p class="titles color-white">{{listState.resultObj.city.name}}</p>
                <sup class="subtitles color-grey">Chance to rain: {{getRainChance(listState.resultObj.list[selectForecastDay].rain)}} %</sup>
            </div>
            <div *ngIf="listState.resultObj.list && listState.resultObj.list[selectForecastDay].main">
                <p class="titles color-white">{{ listState.resultObj.list[selectForecastDay].main.temp }}°C</p>
            </div>
        </div>
        <div class="p-2 flex justify-center items-center">
            <img [src]="getIcon(listState.resultObj.list[selectForecastDay].weather[0].icon)" alt="Weather Icon" />
          </div>
    </div>
    <div class="bg-gray-800 rounded-lg p-4 row-start-2">
        <app-upcoming-forecast
            [upcomingForecast]="listState.resultObj.list | slice:selectForecastDay:selectForecastDay + 6"
        ></app-upcoming-forecast>
    </div>
    <div class="bg-gray-800 rounded-lg p-4 row-start-3">
        <app-air-conditions
            [realFell]="listState.resultObj.list[selectForecastDay].main.feels_like"
            [chanceToRain]="getRainChance(listState.resultObj.list[selectForecastDay].rain)"
            [wind]="listState.resultObj.list[selectForecastDay].wind.speed"
            [pressure]="listState.resultObj.list[selectForecastDay].main.pressure"
        ></app-air-conditions>
    </div>
    <div class="bg-gray-800 rounded-lg p-4 col-span-1 row-span-3 h-full">
        <app-week-forecast
            [forecastList]="listState.resultObj.list"
            (forecastIndex)="handleForecastIndex($event)"
        ></app-week-forecast>
    </div>
</div>